#contact-page
{
	width: 75%;
  height: auto;
	padding: 20px;
	margin: 0 auto;
	margin-top: 3%;
	border-radius: 8px;
	background: white;
	text-align: center;
  margin-bottom: 3%;
}
p, h1 {font-family: naz;}
#tel-icon
{
  width: 55px;
}
#tel-icon:hover
{
  opacity: 0.8;
}
#gmail-icon
{
  width: 52px;
}
#gmail-icon:hover
{
  opacity: 0.8;
}
.contact-link
{
  text-decoration: none;
  color: #00b38f;
  border:2.5px #00b38f solid;
  border-radius: 6px;
  padding: 14px 16px;
  transition: 0.4s;
}
.contact-link:hover
{
  background: #00b38f;
  color: white;
}
.font-size
{
  font-size: 35px;
  text-align:center;
}
.font-size-h1
{
  font-size: 40px;
}
#blank
{
  margin-bottom: 1%;
}
@media screen and (max-width: 1000px)
{
  #respon-gmail
  {
    font-size: 18px;
  } 
   #contact-page
  {
    width: 80%;
  }
  .font-size
  {
    font-size: 22px;
  }
  .font-size-h1
  {
    font-size: 30px;
  }
}

 @media screen and (max-width: 500px)
{
  #contact-page
  {
    width: 85%;
  }
  .font-size
  {
    font-size: 20px;
  }
  #blank
  {
    margin-bottom: 4%;
  }
}