* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: naz;
  src: url(/font/nazanin.ttf);
}

* {
  margin: 0;
  padding: 0;
}

/* MENU HEADER */
.logo {
  padding: 0;
  margin: 0 auto;
  width: 105px;
  margin-right: 8%;
  margin-top: 1.2%;
}

.logo:hover {
  opacity: 0.8;
}

.header {
  height: auto;
  width: 92%;
  margin-top: 10%;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  transition: 0.4s;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.header ul {
  margin-right: 2.8%;
}

.header ul li {
  font-size: 40px;
  text-align: center;
  display: inline;
  color: white;
  list-style: none;
  font-family: naz;
}

.header ul li a {
  color: white;
  text-decoration: none;
}

.header:hover {
  background: #222222;
}

#home {
  margin: 0 auto;
  margin-left: -2.5%;
  margin-bottom: 10px;
  transition: 0.4s;
}

#contact {
  margin: 0 auto;
  margin-right: 5%;
  margin-bottom: 10px;
  transition: 0.4s;
}

#home:hover {
  border-bottom: #00e6b8 2.5px solid;
  padding: 5px;
  border-radius: 5px;
}

#contact:hover {
  border-bottom: #00e6b8 2.5px solid;
  padding: 5px;
  border-radius: 5px;
}

/* Start Menu for FireFox and Edge */
#home-firefox,
#contact-firefox {
  display: none;
}

@-moz-document url-prefix() {

  #home,
  #contact {
    display: none;
  }

  #contact-firefox {
    margin-right: 5.5%;
  }

  #home-firefox {
    margin-left: -2%;
  }

  #home-firefox,
  #contact-firefox {
    display: inline-block;
  }

  #home-firefox:hover a,
  #contact-firefox:hover a {
    color: #00e6b8;
  }
}

@supports (-ms-ime-align:auto) {

  #home,
  #contact {
    display: none;
  }

  #contact-firefox {
    margin-right: 5.5%;
  }

  #home-firefox {
    margin-left: -2%;
  }

  #home-firefox,
  #contact-firefox {
    display: inline-block;
  }

  #home-firefox:hover a,
  #contact-firefox:hover a {
    color: #00e6b8;
  }
}

/* End Menu for FireFox and Edge */
.icon {
  display: none;
  margin: 0 auto;
  margin-top: 4.5%;
  margin-right: 2.5%;
  width: 15.5%;
}

.icon:hover {
  opacity: 0.8;
}

.menu-icon {
  margin: 0 auto;
  width: 100%;
  margin-top: 10%;
  margin-right: 10%;
}

.respon-menu {
  text-align: center;
}

.respon-menu li a {
  list-style: none;
  padding: 14px 16px;
  transition: 0.2s;
}

.respon-menu li a:hover {
  color: #00e6b8;
}

.respon-menu li a {
  text-decoration: none;
}

/* MENU HEADER */
/* Product --------------- */
.product {
  position: relative;
  /*width: 320px;*/
  width: 400px;
  height: auto;
  margin: 0 auto;
  margin-top: 3%;
  border-radius: 10px;
  background: white;
  margin-bottom: 20px;
}

#product-img {
  width: 100%;
  height: 260px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#more-img {
  height: 55px;
  width: 55px;
  margin-left: 43%;
  margin-bottom: 2%;
}

#more-img:hover {
  opacity: 0.8;
}

#product-content {
  margin: auto;
  display: none;
  position: absolute;
  background-color: white;
  width: 1000px;
  height: 99.8%;
  margin-top: -189.5%;
  border-left: 3px solid black;
  margin-left: 100%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* Product --------------- */

#title {
  font-family: naz;
  text-align: center;
  font-size: 30px;
  padding: 0 2px;
}

#body {
  font-family: naz;
  text-align: center;
  line-height: 1.4;
  font-size: 25px;
  margin-top: 3.5%;
}

/* Responsive Menu */
@media screen and (min-width: 600px) {
  #respon-menu {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  .header .hide,
  #home-firefox,
  #contact-firefox {
    display: none;
  }

  .header .icon {
    float: right;
    display: block;
  }

  .header .logo {
    margin: 0 auto;
    margin-top: 2.5%;
    margin-left: 19%;
    width: 20%;
  }

  #more-img {
    width: 60px;
    height: 60px;
  }

  /*-----------------Product-------------*/
  .product {
    width: 95%;
  }

  #title {
    font-size: 25px;
    line-height: 1.45;
  }

  #body {
    font-size: 20px;
    line-height: 1.5;
  }

  /*-----------------Product-------------*/
}

/* Responsive Menu */